* {
    margin: 0;
    padding: 0;
}

body{
background-color: rgba(239, 228, 7, 0.995);
}

.nav {
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 13px 26px;
    color: blue;
    font-weight: 600;
}

.nav ul li{
    cursor: pointer;
}

.nav ul li:hover{
    color: rgb(57, 99, 237);
}

.container {
    margin: auto;
    max-width: 80vw;
    padding: 42px;
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;
}

.container h1{
    color: rgb(0, 102, 255);
}

.container  h2{
    color: rgb(255, 106, 0);
}

.container table ,tr,td{
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 7px;
    background-color: rgb(247, 235, 235);
}

.container table th{
    color: #b20bf9; 
}

h1 {
    text-align: center;
}

/* @media screen and (max-width:480px) {
    h1{
      text-align: center;
    }
} */

button{
    padding: 6px;
    border-radius: 7px;
    border:none;
    background-color: rgb(222, 18, 18);
    color: white;
    margin-left: 90px;
    cursor: pointer;
}

.btnsm{
    padding: 6px;
    border-radius: 7px;
    border:none;
    background-color: rgb(220, 19, 19);
    color: white;
    cursor: pointer;
    margin: 0px;
}

img{
    cursor: pointer;
    margin-left: 2px;
}

.about1{
    display: none;
    text-align: center;
    width: 200px;
    height: 113px;
    position:absolute;
    right: 40vw;
    color: rgb(26, 141, 241);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
}


.contact1{
    display: none;
    text-align: center;
    width: 250px;
    height: 23px;
    position: absolute;
    right: 40vw;
    border-radius: 4px;
    color: rgb(26, 141, 241);
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width : 914px) {
    .about1{
        right: 30vw;
    }

    .contact1{
        right: 30vw;
    }
}

@media screen and (max-width : 500px) {
    .about1{
        right: 20vw;
    }

    .contact1{
        right:20vw;
    }
}

